<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Edit Order</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
  </head>
  <body class="container" style="margin-top: 50px">
    {{ $parent := . }}
    {{ $order := .Order }}
    {{ with .Order }}
      <div class="card">
        <div class="card-header">
          Este <img src="/assets/img/shaaaa.png" width="50" height="50" />
          pertenece a
          <b>{{ .User }}</b>
        </div>
        <div class="card-body">
          <form action="/orders/{{ .ID }}/edit" method="POST">
            <div class="form-group">
              <label>Para quien?</label>
              <input
                disabled
                type="text"
                class="form-control"
                name="user"
                autocomplete="off"
                value="{{ .User }}"
              />
            </div>
            <div class="form-group">
              <select
                disabled
                class="custom-select"
                name="orderType"
                id="orderType"
              >
                {{ range $parent.Proteins }}
                  <option
                    value="{{ .ID }}"
                    {{ if eq .ID $order.OrderType }}selected{{ end }}
                  >
                    {{ .Name }}
                  </option>
                {{ end }}
              </select>
            </div>
            <div class="form-group">
              {{ range $.Toppings }}
                {{ $topping := . }}
                <div class="form-check">
                  <input
                    disabled
                    class="form-check-input"
                    type="checkbox"
                    name="toppings"
                    value="{{ .Name }}"
                    id="{{ .Name }}"
                    {{ range $order.Toppings }}
                      {{ if eq . $topping.ID }}
                        checked
                      {{ end }}
                    {{ end }}
                  />
                  <label class="form-check-label" for="{{ .Name }}">
                    {{ .Name }}
                  </label>
                </div>
              {{ end }}
            </div>
            <div class="form-group">
              <a href="/orders" class="btn btn-secondary">Back</a>
              <a href="/orders/{{ .ID }}/edit" class="btn btn-primary">Edit</a>
              <a
                class="btn btn-danger delete"
                onclick="if(confirm('Seguro que borramos esto? Es tuyo?\nNo dio el presupuesto para agregar validaciones 🙄')) { return true; } else { event.stopPropagation(); event.preventDefault(); };"
                href="/orders/{{ .ID }}/delete"
                >Delete</a
              >
            </div>
          </form>
        </div>
      </div>
    {{ end }}
  </body>
</html>
